<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가 Page143 해당 링크로가서 연결됨을 의미함.-->
<script src="/js/app/index.js"></script>
</body>
</html>